__pycache__
*.pth*
.autoenv*
runs
build
checkpoints
*.prof
.lvimrc
.vimtags
.ccls
.ccls-cache/
dist/
pointnet2.egg-info/
*.zip
*.so
.tox/
.mypy_cache
**/*.pyc


pointnet2/data/modelnet40_normal_resampled/
pointnet2/data/modelnet40_normal_resampled_cache/
pointnet2/data/modelnet40_ply_hdf5_2048/
outputs/
